html {
  font-family: 'Open Sans', sans-serif;
  color: #2b1641;
}

.background {
  /*background: #e7e7e7;*/
  background: rgba(231, 231, 231, 0.8);
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  padding: 15px;
}

li {
  list-style: none;
  padding: 10px;
}

ul {
  padding: 0;
}
.greeting-image {
  background: url(../images/BG_Image_02.jpg) no-repeat center center fixed;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting-text  {
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
}

.greeting-text {
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #2b1641;
}

@media (min-width: 1000px){
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

  header {
    flex-direction: row;
  }

  header li {
    display: inline-block;
  }

  header h1, header nav {
    flex: 1;
  }

  header h1 {
    text-align: left;
  }

  header nav {
    text-align: right;
  }
}
